input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input:focus-visible{
    outline: none;
}

.sprit{
  top:0;
  bottom: 0;
  transform: rotate(0);
  /* transition: all 500ms ease; */
}

.block{
  /* z-index: 10; */
}

.block:hover{
  cursor: grab;
}

.block:hover div{
  cursor: grab;
}

.block span{
  user-select: none;
}

.block-notHasTop::before{
  content: '';
  position: absolute;
  top: -.2em;
  left: 0;
  height: 1.3em;
  width: 5.5em;
  border-radius: 16em 16em 0 0;
  background-color: inherit;
  transform: translateY(-50%);
}

.block-hasTop::before{
  content: '';
  position: absolute;
  left: .8em;
  top: 0;
  height: .5em;
  width: 1.2em;
  transform: perspective(10px) rotateX(-40deg);
  background-color: white;
  z-index: 1;
}

.block-hasBottom::after{
  content: '';
  position: absolute;
  left: .8em;
  top: 100%;
  height: .5em;
  width: 1.2em;
  transform: perspective(10px) rotateX(-40deg);
  background-color: inherit;
  z-index: 20;
}

.block-drop.block-drop-active{
  background-color: rgb(0,0,0,.3);
  height: 2em;
  /* z-index: 20; */
}

.dragging{
  /* z-index: 20; */
}

.flag{
  position: fixed;
  top: 4px;
  cursor: pointer;
}

.sayMessage {
    visibility: hidden;
    width: 120px;
    background-color: rgb(214 214 214);
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 1;
}

.sayMessageVisible{
  visibility: visible;
}

.text-shadow{
  text-shadow: 5px 5px 30px #00000091;
}

.sprit{
  height: fit-content;
}